{% extends "base.html" %}

{% block content %}

<html>

<head>

</head>
<body>
<h1><center>Sale Musix</center></h1>

<div class="container">

<form action="/music/search_basic" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search Continent">
</form>

<table id="example" class="table table-striped table-bordered" style="width:100%">

  <tr>
     <th>ID </th>
     <th>Music Name</th>
     <th>Music Brand</th>
     <th>Music Price</th>
     <th>BuyDate</th>
      <th>Producer</th>
      <th>QTY</th>
  </tr>
     {% for music in music%}
  <tr>

    <td> {{ music.id }} </td>
    <td> {{ music.Name }}</td>
    <td> {{ music.Brand }}</td>
    <td> {{ music.Price }}</td>
    <td> {{ music.BuyDate }}</td>
    <td> {{ music.Producer }}</td>
    <td> {{ music.QTY }}</td>
      <td> <a class="btn btn-info" href ="{%url 'update_music' music.id %}" >Update  </a> </td>
      <td> <a class="btn btn-info" href ="{%url 'update_music' music.id %}" >Delete  </a> </td>
    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'add_music' %}"> New Music </a>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</div>
</body>
</html>

{% endblock %}
